In [35]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [22]:
telecom_cust = pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')

In [23]:
telecom_cust.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [24]:
# Converting Total Charges to a numerical data type.
telecom_cust.TotalCharges = pd.to_numeric(telecom_cust.TotalCharges, errors='coerce')
telecom_cust.isnull().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [25]:
#Removing missing values 
telecom_cust.dropna(inplace = True)
#Remove customer IDs from the data set

In [26]:
telecom_cust.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [27]:
df_deploy=telecom_cust[["tenure", "OnlineSecurity", "Contract", "TotalCharges", "InternetService", "TechSupport", "MonthlyCharges", "Churn" ]]

In [28]:
#import pickle
pickle.dump(df_deploy, open('df_deploy.pkl','wb'))

In [29]:
df_new.head()

,tenure,OnlineSecurity,Contract,TotalCharges,InternetService,TechSupport,MonthlyCharges,Churn
0,1,No,Month-to-month,29.85,DSL,No,29.85,0
1,34,Yes,One year,1889.50,DSL,No,56.95,0
2,2,Yes,Month-to-month,108.15,DSL,No,53.85,1
3,45,Yes,One year,1840.75,DSL,Yes,42.30,0
4,2,No,Month-to-month,151.65,Fiber optic,No,70.70,1

In [30]:
df_new['Churn'].replace(to_replace='Yes', value=1, inplace=True)
df_new['Churn'].replace(to_replace='No',  value=0, inplace=True)

In [31]:
df_new.head()

,tenure,OnlineSecurity,Contract,TotalCharges,InternetService,TechSupport,MonthlyCharges,Churn
0,1,No,Month-to-month,29.85,DSL,No,29.85,0
1,34,Yes,One year,1889.50,DSL,No,56.95,0
2,2,Yes,Month-to-month,108.15,DSL,No,53.85,1
3,45,Yes,One year,1840.75,DSL,Yes,42.30,0
4,2,No,Month-to-month,151.65,Fiber optic,No,70.70,1

In [32]:
df_new_2 = pd.get_dummies(df_new)
df_new_2.head()

,tenure,TotalCharges,MonthlyCharges,Churn,OnlineSecurity_No,OnlineSecurity_No internet service,OnlineSecurity_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,InternetService_DSL,InternetService_Fiber optic,InternetService_No,TechSupport_No,TechSupport_No internet service,TechSupport_Yes
0,1,29.85,29.85,0,1,0,0,1,0,0,1,0,0,1,0,0
1,34,1889.50,56.95,0,0,0,1,0,1,0,1,0,0,1,0,0
2,2,108.15,53.85,1,0,0,1,1,0,0,1,0,0,1,0,0
3,45,1840.75,42.30,0,0,0,1,0,1,0,1,0,0,0,0,1
4,2,151.65,70.70,1,1,0,0,1,0,0,0,1,0,1,0,0

**Training**

In [33]:
y = df_new_2['Churn'].values
X = df_new_2.drop(columns = ['Churn'])

In [36]:
# define training and test set
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=0)

In [39]:
#pip install smote
from imblearn.over_sampling import SMOTE
sm = SMOTE()
x_s, y_s = sm.fit_sample(X_train, y_train.ravel())

In [41]:
x_s.shape

(8250, 15)

In [42]:
X_smote = pd.DataFrame(x_s)
y_smote = pd.DataFrame(y_s)

In [45]:
# training with original X_train, y_train

In [43]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=1000 , oob_score = True, n_jobs = -1,
                                  random_state =50, max_features = "auto",
                                  max_leaf_nodes = 30)
model.fit(X_train, y_train)

# Make predictions
from sklearn import metrics
prediction_test = model.predict(X_test)
print (metrics.accuracy_score(y_test, prediction_test))

0.8059701492537313

In [44]:
from sklearn.metrics import classification_report, confusion_matrix  
print(confusion_matrix(y_test,prediction_test))  
print(classification_report(y_test,prediction_test))

[[955  83]
 [190 179]]
              precision    recall  f1-score   support

           0       0.83      0.92      0.87      1038
           1       0.68      0.49      0.57       369

    accuracy                           0.81      1407
   macro avg       0.76      0.70      0.72      1407
weighted avg       0.79      0.81      0.79      1407

In [ ]:
# training with smote data

In [52]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=1000 , oob_score = True, n_jobs = -1,
                                  random_state =50, max_features = "auto",
                                  max_leaf_nodes = 30)
model.fit(X_smote, y_smote)

# Make predictions
from sklearn import metrics
prediction_test = model.predict(X_test)
print (metrics.accuracy_score(y_test, prediction_test))

C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

0.7683013503909026

In [53]:
print(confusion_matrix(y_test,prediction_test))  
print(classification_report(y_test,prediction_test))

[[805 233]
 [ 93 276]]
              precision    recall  f1-score   support

           0       0.90      0.78      0.83      1038
           1       0.54      0.75      0.63       369

    accuracy                           0.77      1407
   macro avg       0.72      0.76      0.73      1407
weighted avg       0.80      0.77      0.78      1407

In [54]:
#tune the model

In [55]:
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score

In [56]:
rf_params = {"n_estimators": [100,200,500,1000],
            "max_features": [3,5,7,8],
            "min_samples_split": [2,5,10,20]}

In [58]:
rf_cv_model = GridSearchCV(model, rf_params, cv = 5, n_jobs = -1, verbose = 2).fit(X_smote, y_smote)

Fitting 5 folds for each of 64 candidates, totalling 320 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:   16.2s
[Parallel(n_jobs=-1)]: Done 146 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done 320 out of 320 | elapsed:  5.0min finished
C:\Users\HP\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:765: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

In [59]:
rf_cv_model.best_params_

{'max_features': 5, 'min_samples_split': 20, 'n_estimators': 200}

In [68]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=200 , oob_score = True, n_jobs = -1,
                                  min_samples_split=20, random_state =50, max_features = 5,
                                  max_leaf_nodes = 30)
model.fit(X_smote, y_smote)

# Make predictions
from sklearn import metrics
prediction_test = model.predict(X_test)
print(confusion_matrix(y_test,prediction_test))  
print(classification_report(y_test,prediction_test))

C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

[[824 214]
 [ 96 273]]
              precision    recall  f1-score   support

           0       0.90      0.79      0.84      1038
           1       0.56      0.74      0.64       369

    accuracy                           0.78      1407
   macro avg       0.73      0.77      0.74      1407
weighted avg       0.81      0.78      0.79      1407

In [69]:
import pickle
pickle.dump(model, open("smote_rf_model_2", 'wb'))