In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
telecom_cust = pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')

In [3]:
telecom_cust.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
# Converting Total Charges to a numerical data type.
telecom_cust.TotalCharges = pd.to_numeric(telecom_cust.TotalCharges, errors='coerce')
telecom_cust.isnull().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [5]:
#Removing missing values 
telecom_cust.dropna(inplace = True)
#Remove customer IDs from the data set

In [16]:
telecom_cust.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [19]:
df_deploy=telecom_cust[["tenure", "OnlineSecurity", "Contract", "TotalCharges", "InternetService", "TechSupport", "MonthlyCharges", "Churn" ]]

In [20]:
#import pickle
pickle.dump(df_deploy, open('df_deploy.pkl','wb'))

In [7]:
df_new.head()

,tenure,OnlineSecurity,Contract,TotalCharges,InternetService,TechSupport,MonthlyCharges,Churn
0,1,No,Month-to-month,29.85,DSL,No,29.85,No
1,34,Yes,One year,1889.50,DSL,No,56.95,No
2,2,Yes,Month-to-month,108.15,DSL,No,53.85,Yes
3,45,Yes,One year,1840.75,DSL,Yes,42.30,No
4,2,No,Month-to-month,151.65,Fiber optic,No,70.70,Yes

In [8]:
df_new['Churn'].replace(to_replace='Yes', value=1, inplace=True)
df_new['Churn'].replace(to_replace='No',  value=0, inplace=True)

C:\Users\HP\anaconda3\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [26]:
df_new.head()

   gender  SeniorCitizen Partner  ... MonthlyCharges  TotalCharges Churn
0  Female              0     Yes  ...          29.85         29.85     0
1    Male              0      No  ...          56.95       1889.50     0
2    Male              0      No  ...          53.85        108.15     1
3    Male              0      No  ...          42.30       1840.75     0
4  Female              0      No  ...          70.70        151.65     1

[5 rows x 20 columns]

In [11]:
df_new_2 = pd.get_dummies(df_new)
df_new_2.head()

,tenure,TotalCharges,MonthlyCharges,Churn,OnlineSecurity_No,OnlineSecurity_No internet service,OnlineSecurity_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,InternetService_DSL,InternetService_Fiber optic,InternetService_No,TechSupport_No,TechSupport_No internet service,TechSupport_Yes
0,1,29.85,29.85,0,1,0,0,1,0,0,1,0,0,1,0,0
1,34,1889.50,56.95,0,0,0,1,0,1,0,1,0,0,1,0,0
2,2,108.15,53.85,1,0,0,1,1,0,0,1,0,0,1,0,0
3,45,1840.75,42.30,0,0,0,1,0,1,0,1,0,0,0,0,1
4,2,151.65,70.70,1,1,0,0,1,0,0,0,1,0,1,0,0

In [12]:
y = df_new_2['Churn'].values
X = df_new_2.drop(columns = ['Churn'])

In [ ]:
my_dict = {"tenure" :2, 
        "OnlineSecurity":1, 
        "Contract": "Month-to-month", 
        "TotalCharges": 108 , 
        "InternetService": "DSL", 
        "TechSupport": "No", 
        "MonthlyCharges":50
}

In [15]:
import pickle
pickle.dump(df_new_2, open('df_new_2.pkl','wb'))

In [ ]:
pickle.dump(list(X.columns), open('model_features.pkl','wb'))

In [ ]:
df = pd.DataFrame.from_dict([my_dict], orient='columns')

In [ ]:
df.head()

   tenure  OnlineSecurity  ... TechSupport  MonthlyCharges
0       2               1  ...          No              50

[1 rows x 7 columns]

In [ ]:
features = pickle.load(open('model_features.pkl', 'rb'))

In [ ]:
print(features)

['tenure', 'TotalCharges', 'MonthlyCharges', 'OnlineSecurity_No', 'OnlineSecurity_No internet service', 'OnlineSecurity_Yes', 'Contract_Month-to-month', 'Contract_One year', 'Contract_Two year', 'InternetService_DSL', 'InternetService_Fiber optic', 'InternetService_No', 'TechSupport_No', 'TechSupport_No internet service', 'TechSupport_Yes']

In [ ]:
df = pd.get_dummies(df).reindex(columns=features, fill_value=0)

In [ ]:
df.head()

   tenure  TotalCharges  ...  TechSupport_No internet service  TechSupport_Yes
0       2           108  ...                                0                0

[1 rows x 15 columns]

In [ ]:
prediction = model_rf_smote.predict(df)

In [ ]:
print(prediction)

[1]

In [ ]:
prediction = int(round(model.predict_proba(X)[0][1], 2)*100)

In [ ]:
print("%", prediction)

% 78

**Training**

In [31]:
y = df_new_2['Churn'].values
X = df_new_2.drop(columns = ['Churn'])

In [32]:
sm = SMOTE()
x_s, y_s = sm.fit_sample(X, y.ravel())

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [33]:
x_s.shape

(10326, 45)

In [34]:
X_smote = pd.DataFrame(x_s)
y_smote = pd.DataFrame(y_s)

# define training and test set
X_train, X_test, y_train, y_test = train_test_split(
    X_smote, y_smote, test_size=0.2, random_state=0)

In [35]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=1000 , oob_score = True, n_jobs = -1,
                                  random_state =50, max_features = "auto",
                                  max_leaf_nodes = 30)
model.fit(X_train, y_train)

# Make predictions
from sklearn import metrics
prediction_test = model.predict(X_test)
print (metrics.accuracy_score(y_test, prediction_test))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

0.8620522749273959

In [36]:
from sklearn.metrics import classification_report, confusion_matrix  
print(confusion_matrix(y_test,prediction_test))  
print(classification_report(y_test,prediction_test))

[[884 122]
 [163 897]]
              precision    recall  f1-score   support

           0       0.84      0.88      0.86      1006
           1       0.88      0.85      0.86      1060

    accuracy                           0.86      2066
   macro avg       0.86      0.86      0.86      2066
weighted avg       0.86      0.86      0.86      2066

In [ ]:
import pickle
pickle.dump(model, open("smote_rf_model", 'wb'))

In [ ]:
X = df_new_2.drop(columns = ['Churn'])

In [ ]:
X.head()

   tenure  TotalCharges  ...  TechSupport_No internet service  TechSupport_Yes
0       1         29.85  ...                                0                0
1      34       1889.50  ...                                0                0
2       2        108.15  ...                                0                0
3      45       1840.75  ...                                0                1
4       2        151.65  ...                                0                0

[5 rows x 15 columns]

In [ ]:
prediction=model.predict_proba(X)

In [ ]:
prediction.shape

(7032, 2)

In [ ]:
prediction

array([[0.24359338, 0.75640662],
       [0.90885767, 0.09114233],
       [0.55300858, 0.44699142],
       ...,
       [0.67274455, 0.32725545],
       [0.14051971, 0.85948029],
       [0.88661383, 0.11338617]])

In [ ]:
prediction[:,1]

array([0.75640662, 0.09114233, 0.44699142, ..., 0.32725545, 0.85948029,
       0.11338617])

In [ ]:
df_new.head()

   tenure OnlineSecurity        Contract  ...  TechSupport MonthlyCharges Churn
0       1             No  Month-to-month  ...           No          29.85     0
1      34            Yes        One year  ...           No          56.95     0
2       2            Yes  Month-to-month  ...           No          53.85     1
3      45            Yes        One year  ...          Yes          42.30     0
4       2             No  Month-to-month  ...           No          70.70     1

[5 rows x 8 columns]

In [ ]:
df_new["Chrun Probability"]=prediction[:,1]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_new.head()

   tenure OnlineSecurity  ... Churn  Chrun Probability
0       1             No  ...     0           0.756407
1      34            Yes  ...     0           0.091142
2       2            Yes  ...     1           0.446991
3      45            Yes  ...     0           0.073276
4       2             No  ...     1           0.865919

[5 rows x 9 columns]

In [ ]:
df_new.drop("Churn", axis=1, inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
df_new_2=df_new.sort_values(by="Chrun Probability", ascending=False)[:10]

In [ ]:
df_new_2.rename(columns={"OnlineSecurity": "Onl.Sec", "InternetService": "Service","TechSupport": "TechSupp", "MonthlyCharges": "M.Charges","TotalCharges": "T.Charges", "Chrun Probability": "Churn Prob" }, inplace=True)

In [ ]:
dict=df_new_2.to_dict()

In [ ]:
dict

{'Churn Prob': {207: 0.8862690897361802,
  2095: 0.8862690897361802,
  2464: 0.8862690897361802,
  3310: 0.8862690897361802,
  3551: 0.8862690897361802,
  4315: 0.8862690897361802,
  4759: 0.8862690897361802,
  5288: 0.8862690897361802,
  5640: 0.8862690897361802,
  6168: 0.8862690897361802},
 'Contract': {207: 'Month-to-month',
  2095: 'Month-to-month',
  2464: 'Month-to-month',
  3310: 'Month-to-month',
  3551: 'Month-to-month',
  4315: 'Month-to-month',
  4759: 'Month-to-month',
  5288: 'Month-to-month',
  5640: 'Month-to-month',
  6168: 'Month-to-month'},
 'M.Charges': {207: 79.9,
  2095: 79.95,
  2464: 77.15,
  3310: 78.45,
  3551: 79.6,
  4315: 79.55,
  4759: 78.95,
  5288: 79.65,
  5640: 79.6,
  6168: 79.25},
 'Onl.Sec': {207: 'No',
  2095: 'No',
  2464: 'No',
  3310: 'No',
  3551: 'No',
  4315: 'No',
  4759: 'No',
  5288: 'No',
  5640: 'No',
  6168: 'No'},
 'Service': {207: 'Fiber optic',
  2095: 'Fiber optic',
  2464: 'Fiber optic',
  3310: 'Fiber optic',
  3551: 'Fiber optic',
  4315: 'Fiber optic',
  4759: 'Fiber optic',
  5288: 'Fiber optic',
  5640: 'Fiber optic',
  6168: 'Fiber optic'},
 'T.Charges': {207: 79.9,
  2095: 79.95,
  2464: 77.15,
  3310: 78.45,
  3551: 79.6,
  4315: 79.55,
  4759: 78.95,
  5288: 79.65,
  5640: 79.6,
  6168: 79.25},
 'TechSupp': {207: 'No',
  2095: 'No',
  2464: 'No',
  3310: 'No',
  3551: 'No',
  4315: 'No',
  4759: 'No',
  5288: 'No',
  5640: 'No',
  6168: 'No'},
 'tenure': {207: 1,
  2095: 1,
  2464: 1,
  3310: 1,
  3551: 1,
  4315: 1,
  4759: 1,
  5288: 1,
  5640: 1,
  6168: 1}}

In [ ]:
pickle.dump(dict, open("top_customers", 'wb'))

In [ ]:
top_customers_dict=pickle.load(open('top_customers', 'rb'))

In [ ]:
df_2 = pd.DataFrame.from_dict(top_customers_dict)

In [ ]:
df_2.head()

      tenure Onl.Sec        Contract  ...  TechSupp M.Charges Churn Prob
207        1      No  Month-to-month  ...        No     79.90   0.886269
3310       1      No  Month-to-month  ...        No     78.45   0.886269
5288       1      No  Month-to-month  ...        No     79.65   0.886269
2464       1      No  Month-to-month  ...        No     77.15   0.886269
6168       1      No  Month-to-month  ...        No     79.25   0.886269

[5 rows x 8 columns]